@media (max-width:600px){
#page1{
    height: 80vh;
}
    #nav{
        width: 100vw;
    }
.navleft img{
    width: 100px;
    /* margin-top: 20px; */
}

.navright .btn1{
    height: 30px;
    width: 110px;
    margin-top: 20px;
    font-size: 15px;
}

.navright .btn2{
    height: 30px;
    width: 105px;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 15px;
}
/* 
#content{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

    #content h1{
        width: 100vw;
    font-size: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    }

    #content h3{
        width: 100vw;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #content h4{
        width: 100vw;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20vw;
    }

    .cbtn1{
        height: 5vh;
        width: 40vw;
    }
    .cbtn2{
        height: 5vh;
        width: 40vw;
    }

    #page2{
        height: 80vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .leftside{
        height: 80vw;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .leftside h1{
        width: 100vw;
    }

    .leftside h2{
        width: 85vw;
    }

    .rightside{
        width: 100vw;
    }

    .rightside img{
        width: 100vw;
        z-index: 10;
    }

    .rightside video{
        position: absolute;
        object-fit: cover;
        height: 200px;
    }


}